<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/Head'); %>
</head>
<body>
    <%- include('../partials/Header'); %>
    <section>
        <%Articles.map((article)=>{%>
           <div class="post">

           <div class="post-img">
            <%if(!article.image){%>
              <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="" srcset="">
               <!-- <img src="<%=article.image%>"/> -->
             <%}else{%>
               <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="" srcset="" style="width:450px;height:auto">
               <!-- replace the image above with what is commented below to access article image -->
               <!-- <img src="<%=article.image%>"/> -->
             <%}%>
           </div>
           <div class="post-content">
        
            <a href="/SingleArticle/<%=article.id%>">
              <h1><%=article.title%></h1>
            <span>Author: Johana Gitari,Created:<%=article.timestamp%></span>
            <%if(!article.summary){%>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa commodi voluptatum corporis iusto impedit reprehenderit aliquam, minima tenetur illum quos placeat, reiciendis voluptatibus nam velit eaque quidem quibusdam! Sint, fugit?</p>
            <%}else{%>
              <p><%=article.summary%></p>
            <%}%>
            </a>
          <div class="btn">
            <a href="/SingleArticle/<%=article.id%>"> READ MORE</a>
          </div>
        </div>


           </div>
        <%})%>
       
    </section>
    
</body>
</html>